
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --backgrond:linear-gradient(rgb(179, 178, 177), rgb(158, 157, 157), rgb(254, 254, 254));
    --shadown: 2px 10px 10px rgba(0, 0, 0, 0.2),0px 0px 20px rgba(0, 0, 0, 0.2);
    --back-grond-hader-footer: linear-gradient(rgb(216, 107, 28), rgb(125, 55, 5), rgb(245, 176, 127));
    --padding: 1rem;
    --radius: 1rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    /* background: var(--backgrond); */
    overflow-x: hidden;
    background-color: var(--backgrond);
}

#h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 50px;
}
.container-heder{
    width: 100%;
    height: 20vh;
    padding: var(--padding);
    justify-content: space-around;
    background: var(--back-grond-hader-footer);
    box-shadow: var(--shadown);
    /* clip-path: polygon(0 0, 100% 0, 100% 8%, 0% 100%); */
}

header > img {
    width: clamp(20px, 10%, 100px);
}

.book-title{
    font-family: 'Be Vietnam Pro', sans-serif;
}

img{
    width: 100%;
    height: 60%;
}

.menu-nav-bar{
    gap: 1rem;
}
.menu-hanburge{
    display: none;
}

.container{
    padding-top: 1rem;
    max-width: 100%;
    background: var(--backgrond);
    /* border: solid 1px red; */
}
.containe-livros{
    padding: var(--padding);
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
    
    
}
.btn-color{
    width: 100%;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.422);
}
.disponovel-color{
    background-color: rgba(249, 249, 28, 0.363);
}

.name-color{
    background-color: rgba(0, 128, 0, 0.293);
}

section ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section ul img{
    width: 150px;
}
.container-book{
    width: 250px;
    min-height: 460px;
    padding: var(--padding);
    gap: 1rem;
    /* border-radius: var(--radius); */
    /* background: var(--backgrond);
    box-shadow: var(--shadown); */
    background: linear-gradient(rgb(216, 107, 28, .1), rgb(125, 55, 5, .1), rgb(245, 176, 127, .1));
    border-top: 1px solid rgb(255, 255, 255, .5);
    border-left: 1px solid rgb(255, 255, 255, .5);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 20px;
}

.infCard{
    width: 100%;
    gap: 3px;
    border-radius: var(--radius);
}
li a{
    border-radius: var(--radius);
    color: black;
    padding: .5rem .7rem;
    font-family: "Poppins", sans-serif;
    box-shadow: var(--shadown);
}
.infCard ul {
    display: flex;
    gap: 1rem;
    
}
/* informacoes card */
.containerPrice{
    padding: .2rem .5rem;
    border-radius: var(--radius);
    box-shadow: var(--shadown);
    padding: 0 var(--padding);
}
.containerPromocao{
    gap: .5rem;
}

.containerPromocao :nth-child(1){
    padding: .2rem .5rem;
    border-radius: var(--radius);
    box-shadow: var(--shadown);
}
.containerPromocao :nth-child(2){
    padding: .2rem .5rem;
    border-radius: var(--radius);
    box-shadow: var(--shadown);
}

.container-book ul{
    display: flex;
    flex-direction: column;
}

.container-img{
    width: 100%;
    display: flex;
    
}
.container-img > div{
    width: 100%;
    height: 20%;
}


.containerInput{
    width: 100%;
    gap: 1rem;
}

.txt-area{
    padding: var(--padding);
    width: clamp(300px, 50%, 600px);
    height: 3rem;
    font-size: 15px;
    border: solid .1rem rgb(125, 55, 5);
    box-shadow: var(--shadown);
    border-radius: var(--radius);
}
.btn{
    width: 5%;
    border: solid .1rem rgb(125, 55, 5);
    padding: 1rem 3rem;
    font-size: 15px;
    box-shadow: var(--shadown);
    border-radius: var(--radius);
}

.roda-pe{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--back-grond-hader-footer);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* clip-path: polygon(0 92%, 100% 0, 100% 100%, 0 100%); */
    
}

footer ul {
    flex-direction: column;
    gap: 1rem;
}

.social-midia-github{
    list-style-image: url(./assets/imagens/github.png);
}
.social-midia-link{
    list-style-image: url(./assets/imagens/linkedin.png);
}



.menu-nav-bar[data-visible ='true']{
    transform: translateX(0%);
    display: flex;
}

.menu-hanburge[aria-expanded = 'true']{
    background:url(./assets/imagens/close.png);
}

/* @media screen and (max-width: 45rem){
    #h1{
        font-size: 40px;
    }
    .menu-nav-bar{
        display: none;
        position: absolute;
        border-radius: 0px;
        padding: 3rem;
        gap: 2rem;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        gap: .1rem;
    }
} */


@media screen  and (max-width: 800px) {
    .menu-nav-bar{
        display: none;
        position: absolute;
        border-radius: 0px;
        padding: 3rem;
        gap: 2rem;
        top: 0px;
        right: 0px;
        z-index: 9999;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background:var(--back-grond-hader-footer);
        transform: translateX(100%);
        inset: 0 0 0 50%;
        transition: transform 350ms ease-in-out; 
    }

    .menu-hanburge{
        display: block;
        z-index: 99999;
        position: absolute;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        background:url(./assets/imagens/hamburger.png);
        right: 2rem;
        top: 2rem;
    }

    .containerInput{
        gap: .1rem;
    }
  }